# ---------------------------
# Debug & sécurité
# ---------------------------
DEBUG=True
SECRET_KEY = 'django-insecure-+kv_h-ta8s=o@ry&u&5u*7k*r4m$vo&3u0i1&4s2=%npxj=-av'
ALLOWED_HOSTS=127.0.0.1,localhost,barber-pro-upue.onrender.com

# ---------------------------
# Base de données PostgreSQL
# ---------------------------
# Option 1 (Render recommandé):
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME

DB_NAME=coiffure_db
DB_USER=adama
DB_PASSWORD=doucoure2005   # <-- remplace par le vrai mot de passe
DB_HOST=dpg-d6ng5i3h46gs7392u0qg-a
DB_PORT=5432

# ---------------------------
# Compte de démonstration (optionnel)
# ---------------------------
DEMO_LOGIN_ENABLED=True
DEMO_USERNAME=demo_salon
DEMO_PASSWORD=demo123456
DEMO_EMAIL=demo@salon.local
DEMO_SALON_NAME=Salon Demo
