# ---------------------------
# Debug & sécurité
# ---------------------------
DEBUG=True
SECRET_KEY=$ez)rgbm^q219$a7km2p2-yvfj-c5bwmtm(20(mjac1!%6tqsg
ALLOWED_HOSTS=
#127.0.0.1,localhost,barberpro-pc2e.onrender.com

# ---------------------------
# Base de données PostgreSQL
# ---------------------------
DB_NAME=coiffure_db
DB_USER=adama
DB_PASSWORD=doucoure2005   # <-- remplace par le vrai mot de passe
DB_HOST=dpg-d6ng5i3h46gs7392u0qg-a
DB_PORT=5432

# ---------------------------
# Compte de démonstration (optionnel)
# ---------------------------
DEMO_LOGIN_ENABLED=True
DEMO_USERNAME=demo_salon
DEMO_PASSWORD=demo123456
DEMO_EMAIL=demo@salon.local
DEMO_SALON_NAME=Salon Demo